*::before
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(to right,#bdc3c7 , #2c3e50);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator{
    width: 400px;
    border: 2px black solid;
    border-radius: 15px;
    padding: 20px;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.calculator-container {
    border: 2px solid black;
    border-radius: 10px;
    bottom: 5px;
    width: 390px;
    position: relative;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color:transparent;
    color: white;
    font-family: cursive;
}
.buttons {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(4 , 100px);
    grid-template-rows: repeat(4 , 70px);
    grid-gap: 5px;
    text-align: center;
}
.btn {
    padding: 26px;
    /* border: 1px solid #9f6e6e; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    box-shadow: rgb(249 249 249 / 15%) 2.4px 2.4px 3.2px;
    color: white;
}
.btn:hover {
    background-color: tomato;
    cursor: pointer;
}

.btn:active {
    background-color: tomato;
}
.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    position: relative;
    left: 96px;
    top: 10px;
    grid-gap: 5px;
}
#clear-btn , #delete {
    background-color: tomato;
    font-family: cursive;
}
.foot {
    position:absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family:"Big Shoulders Stencil Text", cursive;
    font-size: 20px;
}
/*media query*/
@media  (max-width:477px) and (min-width:375px) {

    .calculator {
        width: fit-content;
    }
    .calculator-container {
        width: 293px;
    }
    .buttons {
        grid-template-columns: repeat(4 , 75px);
        grid-template-rows: repeat(4 , 70px);
    }
    .calc-buttons {
        left: 58px;
        top: 6px;
    }
}

